.buttonRow {
    overflow: auto;
    white-space: nowrap;
    /* Eliminate the container padding for the scrollbar with negative margins */
    margin-left: -22px;
    margin-top: -22px;
    margin-bottom: -22px;
    padding: 22px;
}
